.userPhoto {
  width: 100px;
  height: 100px;
}

.selectedPage {
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}
.users {
  text-align: center;
}
span {
  margin-left: 1%;
  cursor: pointer;
}
.status {
  margin: 5px 0;
  font-size: 18px;
}
