.descriptionBlock {
  margin: 20px;
  display: flex;
  align-items: center;
}

.avatar {
  width: 250px;
  height: 250px;
  border-radius: 150px; /* Радиус скругления */
  border: 0px solid rgb(24, 29, 30); /* Параметры рамки */
  box-shadow: 0 0 20px black; /* Параметры тени */
}

.name {
  font-size: 25px;
  width: 300px;
  margin: 2% 0;
  text-transform: uppercase;
}

.image {
  margin: 2%;
  width: 850px;
  height: auto;
}

.info {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 3%;
}

span {
  font-size: 20px;
}

.status {
  margin: 20px;
  font-size: 30px;
  font-style: italic;
}
