.dialogs {
  display: flex;
}

.dialogsItems {
  border-right: 1px solid black;
  padding: 10px;
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.dialog {
  margin: 8% 0;
  padding: 0;
  transition: all 0.5s ease;
}
.dialog:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.dialogsItems a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}
.dialogsItems .active {
  color: gold;
  text-decoration: none;
}

.messages {
  padding: 10px;
  color: black;
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  margin: 8% 0;
  font-size: 25px;
  display: flex;
}
.dialogsInput input{
  margin: 20px;
  height: 50px;
  width: 400px;
  font-family: Montserrat,serif;
  text-align: center;
}
.dialogsInput{
  text-align: center;
}
.btn{
  margin:2% 35%;
  background-color: #4b8ffd;
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  padding: 8px;
  border-radius: 10px; /* Радиус скругления */
  border: 0 solid rgb(24, 29, 30); /* Параметры рамки */
  box-shadow: 0 0 2px black; /* Параметры тени */
  cursor: pointer;
}
.btn:hover {
  background: #7abbfa;
}